<!DOCTYPE html>
<html lang="hu" layout:decorator="layouts/main">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" href="../static/css/login.css"/>
	<script type="text/javascript" th:src="@{/js/logReg.js}"></script>
	<title>Bolt</title>
</head>
<body>

	<div id="loginForm"  layout:fragment="everyContent">

		<form name="login" th:action="@{/login}" method="post" class="form-signin">
			<h2 class="form-signin-heading  login-text">Jelentkezzen be a folytatáshoz</h2>
			<div id="err" th:if="${param.error}" class="alert alert-danger">Hibás felhasználó név és jelszó</div>
			<div th:if="${param.logout}" class="alert alert-success">Sikeresen kijelentkeztél</div>
			<input type="text" id="username" name="username" class="form-control login" placeholder="Email cím" required="true" /> 
			<input type="password" id="password" name="password" class="form-control login" placeholder="Jelszó" required="true" />
			<button class="btn btn-lg btn-dark btn-block login" type="submit">Bejelentkezés</button>
		</form>

      <a id="regAnchor" href="/registration">Regisztráció</a>
	</div>

</body>
</html>