<!DOCTYPE html>
<html lang="hu"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Bolt</title>
	
<!-- 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" /> -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/lib/bootstrap/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
	

	<script type="text/javascript" th:src="@{/js/lib/jquery-2.0.3.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/lib/bootstrap.min.js}"></script>
</head>
<body>

	<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
		<input hidden type="submit" value="Sign Out"/>
	</form> 
   
	<div class="container">
		<div layout:fragment="everyContent">
		</div>
	
		<div class="footer navbar-fixed-bottom bg-dark">
			<p>Bolt, minden egy helyen!</p>
		</div>
	
	</div>
</body>
</html>