#openNav{
	position: absolute;
	top: 0;
	left: 0;
}
.errorMessages{
	display: none;
}
.addButton{
  max-width:15%;
  max-height:15%;
  float: right;
  width: auto;
  height: auto;
}
.header h1 {
  position: relative;
}
img.productPic{
  max-width:30%;
  max-height:30%;
  width: auto;
  height: auto;
}
.modal-delivery-deadline{
	
}