<!DOCTYPE html>
<html class="no-js"  layout:decorator="layouts/main">
<head>

<link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}" href="../static/css/admin.css"/>

<script type="text/javascript" th:src="@{/js/admin.js}" src="../static/js/admin.js"></script>

</head>
<body>
	<div layout:fragment="everyContent">
		<div id="mySidenav" class="sidenav">
			<a href="" class="closebtn" id="closebtn">&times;</a>
			<a href="/">Bolt</a>
			<a href="/admin/employees?e">Alkalmazottak</a>
			<a href="/admin/products?p">Termékek</a>
			<a href="/admin/orders?o">Megrendelések</a>
			<a href="/admin/deliveries?d">Kiszállítások</a>
			<a href="/admin/users?u">Felhasználók</a>
			<a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
		</div>
		
		<button type="button" class="btn btn-dark" id= "openNav">open</button>
		
		<div id="main">
			<div th:if="${param.e}">
				<h1>Alkalmazottak</h1>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Név</th>
							<th scope="col">Születésnap</th>
							<th scope="col">Lakcím</th>
							<th scope="col">Email cím</th>
							<th scope="col">Nem</th>
							<th scope="col">Telefon</th>
							<th scope="col">Kiszállítások</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="employee : ${employeeList}">
							<td th:text="${employee.name}">name</td>
							<td th:text="${#dates.format(employee.birthday, 'yyyy-MM-dd')}">birthday</td>
							<td th:text="${employee.postCode} + ', ' + ${employee.city} + ' ' + ${employee.address} + ' ' + ${employee.houseNumber}">address</td>
							<td th:text="${employee.email}">email</td>
							<td th:text="${employee.sex==1}?'Nő':'Férfi'">sex</td> 
							<td th:text="${employee.phoneNumber}">phone_number</td>
							<td><a th:href="@{/admin/deliveries(d,employeeId=${employee.id})}">Kiszállítások</a></td>
							<td><button th:attr="data-id=${employee.id}, data-name=${employee.name}, data-birthday=${#dates.format(employee.birthday, 'yyyy-MM-dd')},
								 data-postCode=${employee.postCode}, data-city=${employee.city}, data-address=${employee.address}, data-houseNumber=${employee.houseNumber},
								 data-email=${employee.email}, data-sex=${employee.sex}, data-phoneNumber=${employee.phoneNumber}, data-role=${employee.role.id}" 
								type="button" class="btn btn-dark userButton" data-toggle="modal" data-target="#editModal">Edit</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div th:if="${param.u}">
				<h1>Felhasználók</h1>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Név</th>
							<th scope="col">Születésnap</th>
							<th scope="col">Lakcím</th>
							<th scope="col">Email cím</th>
							<th scope="col">Nem</th>
							<th scope="col">Telefon</th>
							<th scope="col">Rendelések</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="costumer : ${userList}">
							<td th:text="${costumer.name}">name</td>
							<td th:text="${#dates.format(costumer.birthday, 'yyyy-MM-dd')}">birthday</td>
							<td th:text="${costumer.postCode} + ', ' + ${costumer.city} + ' ' + ${costumer.address} + ' ' + ${costumer.houseNumber}">address</td>
							<td th:text="${costumer.email}">email</td>
							<td th:text="${costumer.sex==1}?'Nő':'Férfi'">sex</td> 
							<td th:text="${costumer.phoneNumber}">phone_number</td>
							<td><a th:href="@{/admin/orders(o,userId=${costumer.id})}">Rendelések</a></td>
							<td><button th:attr="data-id=${costumer.id}, data-name=${costumer.name}, data-birthday=${#dates.format(costumer.birthday, 'yyyy-MM-dd')},
								 data-postCode=${costumer.postCode}, data-city=${costumer.city}, data-address=${costumer.address}, data-houseNumber=${costumer.houseNumber},
								 data-email=${costumer.email}, data-sex=${costumer.sex}, data-phoneNumber=${costumer.phoneNumber}, data-role=${costumer.role.id}" 
								type="button" class="btn btn-dark userButton" data-toggle="modal" data-target="#editModal">Edit</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div th:if="${param.p}">
				<a id="addProduct"><img class="addButton" alt="" th:attr="src=@{/images/add.png}"></a>
				<h1 th:text="${param.orderId}?'Megrendelés '+${param.orderId}+' termékei':'Termékek'">Termékek</h1>
				
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Név</th>
							<th scope="col">Raktáron (db)</th>
							<th scope="col">Ár</th>
							<th scope="col">Kép</th>
							<th th:if="${param.orderId}">Mennyiség</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:unless="${param.orderId}" th:each="product : ${productList}">
							<td  th:text="${product.name}">name</td>
							<td th:text="${product.onStock}">on stock</td>
							<td th:text="${product.price}">price</td>
							<td><img class="img-fluid" src="../static/images/kinfe.jpg" th:attr="src=@{${product.pathToPicture}}"/></td>
							<td><a class="delete" th:id="${product.id}"><img class="deletePic" th:src="@{/images/delete.png}"/></a></td>
						</tr>
						<tr th:if="${param.orderId}" th:each="productOfOrder : ${productsOfOrderList}">
							<td  th:text="${productOfOrder.product.name}">name</td>
							<td th:text="${productOfOrder.product.onStock}">on stock</td>
							<td th:text="${productOfOrder.product.price}">price</td>
							<td><img class="img-fluid" src="../static/images/kinfe.jpg" th:attr="src=@{${productOfOrder.product.pathToPicture}}"/></td>
							<td th:text="${productOfOrder.quantity}">amount</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div th:if="${param.o}">
				<h1 th:text="(${param.deliveryId}?'Kiszállítás '+${param.deliveryId}+' megrendelései':(${param.userId}?${orderList[0].user.name}+' rendelési':'Rendelések'))">Megrendelések</h1>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Határidő</th>
							<th scope="col">Vásárló</th>
							<th scope="col">Teljesítve</th>
							<th scope="col">Érték</th>
							<th scope="col">Kiszállítás</th>
							<th scope="col">Termékek</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="order : ${orderList}">
							<td th:text="${#dates.format(order.deadLine, 'yyyy-MM-dd')}">deadLine</td>
							<td th:text="${order.user.name}">user</td>
							<td th:text="${order.done}?'kézbesítve':'várakozik'">done</td>
							<td th:text="${order.value} + ' Ft'">value</td>
							<td><a th:href="@{/admin/deliveries(d,deliveryId=${order.delivery.id})}" th:text="${order.delivery.id}?'Kiszállítás':'Még nincs kiszállításon'">Kiszállítás</a></td>
							<td><a th:href="@{/admin/products(p,orderId=${order.id})}">Termékek</a></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div th:if="${param.d}">
				<h1 th:text="(${param.employeeId}?${deliveryList[0].employee.name}+' kiszállításai':'Kiszállítások')">Kiszállítások</h1>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Alkalmazott</th>
							<th scope="col">Kiszállítás napja</th>
							<th scope="col">Teljesítve</th>
							<th scope="col">Kiszállítandó megrendelések</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="delivery : ${deliveryList}">
							<td th:text="${delivery.employee.name}">user</td>
							<td th:text="${#dates.format(delivery.deliveryDate, 'yyyy-MM-dd')}">N/A</td>
							<td th:text="${delivery.done}?'Kész':'Várakozik'">N/A</td>
							<td><a th:href="@{/admin/orders(o,deliveryId=${delivery.id})}">Megrendelések</a></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal fade" id="editModal" role="dialog" >
				<div class="modal-dialog">
				
				<!-- Modal content-->
			    	<div class="modal-content">
						<div class="modal-header">
							<h3>Szerkesztés</h3>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<form th:replace="(${param.e} or ${param.u}? ~{modal :: user}:(${param.p}? ~{modal :: newProduct} : ~{modal :: t}))"></form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
			      
				</div>			  
			</div>
			
			
		</div>
	</div>
</body>
</html>
