<!DOCTYPE html>
<html lang="hu"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
<div >
   
    <article>
        <header>
            <h1 th:text="${error}">The problem</h1> 
        </header>
    
 	    <section >
            <p th:text="${message}">Message.</p>
            <p th:text="${path}">Path.</p>
            <p th:text="${status}">Status</p>
            <p th:text="${timestamp}">Time stamp</p>
        </section>      
    </article>


</div>
</body>
</html>