<!DOCTYPE html>
<html class="no-js"
		lang="en"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="utf-8" />
<title>Shop</title>
<meta name="description" content="Holiday Manager">
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
<link rel="stylesheet" th:href="@{/css/side-bar.css}" href="../static/css/side-bar.css"/>

<script type="text/javascript" th:src="@{/js/lib/jquery-2.0.3.min.js}" src="../static/js/lib/jquery-2.0.3.min.js"></script> 
<script type="text/javascript" th:src="@{/js/admin.js}" src="../static/js/admin.js"></script>

</head>
<body>
<h1>Employee</h1>
	<div id="mySidenav" class="sidenav">
		<a href="" class="closebtn" id="closebtn">&times;</a>
		<a href="#">About</a>
		<a href="#">Services</a>
		<a href="#">Clients</a>
		<a href="#">Contact</a>
	</div>
	
	<!-- Use any element to open the sidenav -->
	<span id= "openNav">open</span>
	
	<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
	<div id="main">
	  ...
	</div>
</body>
</html>
