<!DOCTYPE html>
<html lang="hu"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<link rel="stylesheet" type="text/css" th:href="@{/css/error.css}"/>
	<meta charset="UTF-8">
<head>
</head>
<body>
<div>
   
    <article>
        <header>
            <h1 th:text="${error}">The problem</h1> 
        </header>
    
 	    <section >
            <p th:text="${timestamp}">Time stamp</p>
            <p th:text="${message}">Message</p>
            <a th:href="${link}">Vissza</a>
        </section>  
    </article>


</div>
</body>
</html>